---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "r-nold";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Collection of Projects</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari", "Bonjour", "Aloha", "Namaste", "Salaam", "Sawubona", "Sawasdee", "Nǐ hǎo", "Konnichiwa", "Merhaba", "Szia", "Hallå", "Olá", "Hei", "Halló", "Hoi", "Hallo", "Hallo", "Hal", "Selam", "Привет", "Grüß dich", "Servus", "Salve", "Buongiorno", "Was geht?", "Hey", "Hi", "Was machen Sachen?", "Ciao", "10er"]}/>
</BaseLayout>